{% extends "users/basic.html" %} <!--For normal webpages — you use (% extends %) because you want the navbar, footer and all common stuff from basic.html.-->

{% block content %} <!--So from here you continue to write things which belongs to this file-->
    <div class="container mt-4">
        <h2>Reset Password</h2>
        <form method= "POST">
            {%csrf_token %}
            {{form.as_p}}
            <div>
                <button class= "btn btn-primary mt-2" types= "submit">Reset Password</button>
            </div>
        </form>
    </div>
{% endblock %}